---
# Main Sass file
---

@import "minimal-mistakes/skins/aqua";
@import "minimal-mistakes";

/* Custom tweaks below */

body {
  font-size: 0.82rem;
  line-height: 1.1;
}

.masthead__menu-item a {
  line-height: 1.6;
  padding-top: 6px;
  padding-bottom: 6px;
}

.archive {
  width: calc(100% - 180px) !important;
  padding-left: 0.5em;
}

.layout--single .page {
  margin-left: 0 !important;
}


.sidebar {
  opacity: 1 !important;
  width: 180px !important;
}

.author__avatar,
.author__content,
.author__urls-wrapper,
.author__urls {
  opacity: 1 !important;
  filter: none !important;
  transition: none !important;
}

/* Prevent hover-based fading */
.sidebar:hover,
.author__urls-wrapper:hover {
  opacity: 1 !important;
}

.author__avatar img {
  max-width: 130px !important;
}
